.mat-drawer {
  background-color: rgba(#388e3c, 1);
}

.mat-toolbar {
  background-color: rgba(#2e7d32, 1) !important;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
  color: #eeeeee;
}
