<div fxFlex="100%" fxLayout="row wrap" class="spacer__left spacer__right">
  <h1>Chameleon Scrubs - Relaunch</h1>
  <div>
    Chameleon Scrubs has been around for 15 years now and even though we have not had to do too much in the way of advertising
    we have contiuned to manufacture top quality scrubs to a wide industry sector. With new forms of advertising and social
    media outlets we have decided to increase our presence on these platforms, we believe there is still a strong demand
    for our products and now want to reach a wider audience and take Chameleon Scrubs to the next level.
  </div>

  <h1>How did Chameleon Scrubs get started?</h1>
  <div>
    A few years ago my partner Louise was attending a veterinary conference in America. She saw that many of the vets there were
    wearing brightly designed scrubs. Louise and her colleagues sought out a stand at the commercial exhibition and purchased
    some straight away. On return to Britain they had many enquiries from people who wanted to know where to get them and
    found they were only available in America. We set out to bring bright modern designs to the UK where they can be easily
    purchased without the inconvenience, long delays and costs involved with overseas shipping.
    <br/>
    <br/> Stuart Dyble - Original Founder of Chameleon Scrubs.
    <br/>
    <br/> After setting up Chameleon Scrubs and successfully trading for a number of years, Stuart has decided to move on to other
    projects, the new owner of Chameleon Scrubs is Duncan Faulkner.
    <br/>
    <br/> Chameleon Scrubs has been at the forefront of innovation with their unique brand of medical and veterinary scrubs.
    <br/> And our aim is to carry on the success of Chameleon Scrubs started by the former owners and would like to wish Stuart
    and Louise every success in the future."
    <br/>
    <br/> We aim to provide top quality, hard-wearing, and distinctive scrubs direct to heath care professionals, veterinary practices
    and other organization's. UK based Chameleon Scrubs sells only UK manufactured products. Our range is constantly being
    updated with new designs and styles all made to the highest standard. Our scrubs are also 100% cotton, machine washable
    and designed to give maximum comfort and ease of movement.
  </div>
</div>