<div  style="margin-right:10px; margin-top:10px;">
  <div style="border: 1px solid #2e7d32;">
    <div style="position: relative;">
      <div class="pod__sale--item" *ngIf="product.onSale">
        <div class="pod__sale--content">On Sale</div>
      </div>
      <div class="pod__feature--item" *ngIf="product.featured">
        <div class="pod__feature--content">Feature</div>
      </div>
      <a (click)="onSelectedProduct(product.productId)">
        <img [src]="product.imageUrl" />
      </a>
      <div style="padding-left: 3px; line-height: 20px; margin-top:10px;">
        <div >
          <div >Name:</div>
          <div >{{product.name}}</div>
        </div>
        <div >
          <div >Code:</div>
          <div >{{product.code}}</div>
        </div>
        <div >
          <div >Description:</div>
          <div >{{product.description}}</div>
        </div>
        <div *ngIf="product.onSale else regular">
          <div >
            <div >On Sale Price:</div>
            <div >{{product.salePrice | currency:'GBP':'symbol': '2.2-2'}}</div>
          </div>
        </div>
        <div >
          <div >Rating:</div>
          <div >{{product.starRating}}</div>
        </div>
        <div >
          <div >Colour:</div>
          <div >{{product.colour}}</div>
        </div>
      </div>
    </div>
    <!-- <a (click)="onSelectedProduct(product.productId) "> -->

    <!-- <mat-list>
        <mat-list-item>
          <span matLine>{{product.name}}</span>
          <span matLine>{{product.code}}</span>
          <span matLine>{{product.description}}</span>
          <span matLine *ngIf="!product.onSale">{{product.price | currency:'GBP': 'symbol': '2.2-2'}}</span>
          <span matLine *ngIf="product.onSale">{{product.salePrice | currency:'GBP': 'symbol': '2.2-2'}}</span>
          <span matLine>{{product.starRating}}</span>
          <button matLine mat-button (click)="onSelectedProduct(product.productId)">Details</button>
        </mat-list-item>
      </mat-list> -->

    <!-- <div style="font-size: 24px; ">
        <span>{{product.name}}</span>
      </div>
      <div *ngIf="product.onSale; else regular ">
        {{product.salePrice | currency:'GBP': 'symbol': '2.2-2'}}
      </div> -->
    <!-- </a> -->
  </div>
</div>


<ng-template #regular>
  <div >
    <div >Price</div>
    <div >{{product.price | currency:'GBP':'symbol':'2.2-2'}}</div>
  </div>
</ng-template>