<div style="margin-top: 40px" fxFlexLayout="row" fxLayoutAlign="start center">
  <div fxFlex="0 0 700px" style="font-size: 6em; margin-left: 20px">
    <div fxLayout="row wrap" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">SALE
      ITEMS</div>
    <button mat-flat-button color="primary" class="button">READ MORE</button>
  </div>

  <div fxFlex="0 0 230px">
    <img height="900px" width="600px" src="../../assets/img/products/action_hero.png" alt="scrubs mixed shirt banner">
  </div>
</div>


<!-- <div style="outline: 1px solid red;">
  <div>
    SALE ITEMS
  </div>
  <div>
    <img height="900px" width="600px" src="../../assets/img/products/action_hero.png" alt="scrubs mixed shirt banner">
  </div>
</div> -->


<!-- <h1>Chameleon Scrubs</h1>
  <div>
    We are the original, leading UK supplier of 100&#37; cotton Medical and Veterinary Scrubs.
    <br />
    <br /> Over the years we have supplied Medical and Veterinary scrubs to a wide and varied cross section of
    industries, from television (Dr Who) to local vets and dentists, across the UK and around the world. Our company
    objective is to
    provide
    fine quality garments at competitive prices, along with a strong customer service.
    <br />
    <br /> We have a large selection of 100&#37; cotton Medical and Veterinary scrubs in stock of all colours, prints
    and sizes,
    some of our prints include characters such as 'The Pink Panther' and 'Scooby Doo' and many others.
    <br />
    <br />All of our scrubs are made from the finest quality cotton fabrics and to very high standards. All of our
    scrubs are manufactured
    in the UK and backed with our 7 day guarantee*, for more information visit our help page. Because we are UK based
    we
    can also custom make your scrubs to match your corporate image, personalise them with embroidered logos and names.
    <br />
    <br />We also manufacture theatre caps and these are available in plain or printed materials.
    <br />
    <br />
    <span class="font-label-small">Excludes items made to order.</span>
  </div> -->
<!-- <div style="border-style: solid; border-color: #2e7d32; border-width: 4px; border-radius: 10px;"
    class="spacer__top">
    <img src="../../assets/img/products/scrubs.png" alt="scrubs mixed shirt banner">
  </div> -->