@import 'src/scss/tools/mixins';
@import 'src/scss/elements/typography';

// color: #388e3c;



.spacer__left {
  margin-left: 25px;
}
.spacer__right {
  margin-right: 25px;
}
.spacer__top {
  margin-top: 25px;
}
.spacer__bottom {
  margin-bottom: 25px;
}
